        <div class="chart-panel">
            <h2>{{title}}</h2>
            <div id="timeline" class="chart"></div>
            <div class="statistics-bar">
                <div class="statistics-panel">
                    <h3>Selection:</h3>
                    <p><span class="label">Approvals:</span> <span id="selectedApprovals"></span></p>
                    <p><span class="label">Approver:</span> <span id="selectedApprover"></span></p>
                    <p><span class="label">Days:</span> <span id="selectedDays"></span></p>
                    <p><span class="label">Start Date:</span> <span id="selectionStartDate"></span></p>
                    <p><span class="label">End Date:</span> <span id="selectionEndDate"></span></p>
                </div>

                <!-- <div class="statistics-panel">
                    <h3>Total:</h3>
                    <p><span class="label">Approvals:</span> <span id="totalApprovals"></span></p>
                    <p><span class="label">Approvers:</span> <span id="totalApprovers"></span></p>
                    <p><span class="label">Days:</span> <span id="totalDays"></span></p>
                </div> -->
            </div>
        </div>